<div class="md:container md:mx-auto">
  <section>
    <h1 class="my-8 font-semibold text-lg">Design components</h1>
    <div class="p-2 my-8">
      <h1 class="text-lg">Colors</h1>
      <ul>
        <li class="p-2">
          <div class="w-4 h-4 bg-primary inline-block"></div> <span>Primary - #00B48D </span>
        </li>
        <li class="p-2">
          <div class="w-4 h-4 bg-secondary inline-block"></div> <span>Secondary - #4D24E1 </span>
        </li>
        <li class="p-2">
          <div class="w-4 h-4 bg-gray0 inline-block"></div> <span>Gray0 - #CFD3D4 </span>
        </li>
        <li class="p-2">
          <div class="w-4 h-4 bg-gray1 inline-block"></div> <span>Gray1 - #5E6366 </span>
        </li>
      </ul>
    </div>
  </section>

  <section class="my-8">
    <h1 class="text-lg">Typography</h1>
    <ul>
      <li class="p-2">
        <p class="my-2">Label</p>
        <fieldset class="w-full border p-4">
          <legend>Label</legend>
          <label class="text-gray1 text-sm font-normal">Email or Mobile Number</label>
        </fieldset>
      </li>
      <li class="p-2">
        <p class="my-2">Heading 1</p>
        <fieldset class="w-full border p-4">
          <legend>Text box</legend>
          <h1 class="font-bold text-2xl">Login</h1>
        </fieldset>
      </li>
    </ul>
  </section>

  <section class="my-8">
    <h1 class="text-lg">Form components</h1>
    <ul>
      <li class="p-2">
        <p class="my-2">Text box</p>
        <fieldset class="w-full border p-4">
          <legend>Text box</legend>
          <input type="text" class="border border-gray0 w-full h-13 rounded focus:ring-0"/>
        </fieldset>
      </li>
      <li class="p-2">
        <p class="my-2">Text box with label</p>
        <fieldset class="w-full border p-4">
          <legend>Text box with label</legend>
          <div class="input-group">
            <label for="email" class="text-gray1 text-sm font-normal">Email or Mobile Number</label>
            <p class="mt-5">
              <input id="email" type="text" class="border border-gray0 w-full h-13 rounded focus:ring-0"/>
            </p>
          </div>
        </fieldset>
      </li>
      <li class="p-2">
        <p class="my-2">Password</p>
        <fieldset class="w-full border p-4">
          <legend>Password</legend>
          <div class="input-group">
            <label for="password" class="text-gray1 text-sm font-normal">Password</label>
            <p class="mt-5">
              <input id="password" type="password" class="border border-gray0 w-full h-13 rounded focus:ring-0"/>
            </p>
          </div>
        </fieldset>
      </li>
      <li class="p-2">
        <p class="my-2">Button primary</p>
        <fieldset class="w-full border p-4">
          <legend>Button primary</legend>
          <button class="border border-primary rounded h-14 w-full bg-primary shadow-xl text-center hover:pointer hover:opacity-95">
            <span class="font-semibold text-xl text-white">Login</span>
          </button>
        </fieldset>
      </li>
      <li class="p-2">
        <p class="my-2">Checkbox</p>
        <fieldset class="w-full border p-4">
          <legend>Checkbox</legend>
          <div class="input-group flex gap-3.5">
            <input type="checkbox" id=checkbox1" class="w-5 h-5 text-primary border border-gray0 focus:ring-0" />
            <label for="checkbox1" class="text-gray1 text-sm font-normal"> Remember me </label>
          </div>
        </fieldset>
      </li>
    </ul>
  </section>
</div>