<div class="md:container md:mx-auto">
  <h1 class="text-lg p-2">Pages</h1>
  <div class="p-2">
    <ul>
      <li class="p-2">
        <a href="/components">Components</a>
        <a href="/login">Login</a>
      </li>
    </ul>
  </div>
</div>